@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-4">Welcome to Dealer Center</h1>
            <p class="display-6">Select your Car from our Inventory list</p>
        </div>
    </div>
    <style>
        body {
            background-color: antiquewhite;
        }
    </style>

    <div class="row">
        <div class="col-sm-12">
            <img src="~/images/car1.jpg" alt="car" class="img-fluid mx-auto d-block" style="max-height: 500px;" />
        </div>
    </div>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
