@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: antiquewhite;
    }
</style>

<div class="text-center" style="padding: 20px;">
    <h1>@ViewData["Title"]</h1>
    <p>This Privacy Policy describes how Car Dealer App collects, uses, and shares your personal information when you use our website.</p>
</div>
